.accordion {
	border-radius: 10px;
	transition: box-shadow 0.6s $easing;

	&:hover {
		box-shadow: 0 20px 40px -5px rgba(9,30,66, 0.25);
	}
}

.accordion__title {
	background: #fff;
	padding: 17px 28px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	position: relative;
	width: calc(100% - 51px);
	user-select: none;

	&:after {
		width: 51px;
		height: 100%;
		position: absolute;
		right: -51px;
		top: 0;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		content: '';
		line-height: 60px;
		background-color: inherit;
		@extend .icon;
		@extend .icon-plus;
		background-size: 10px;
	}

}


.accordion__content {
	margin-top: 3px;
	padding: 17px 28px;
	border-radius: 10px;
	display: none;
	background: #fff;

	p:last-child{
		margin-bottom: 0;
	}
}

.accordion--opened {
	.accordion__title {
		border-bottom-left-radius: 0px;
		&:after {
			@extend .icon-minus;
			border-bottom-right-radius: 0px;
		}
	}
	.accordion__content {
		display: block;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

}

.accordion--simple {

	.accordion__title {
		padding: 0;
		border-radius: 0;

		&:after {
			border-radius: 0;
		}
	}

	.accordion__content {
		padding: 0px;
		border-radius: 0px;
	}
}

