.checkout-badges {

	svg {
		height: 100%;
		max-width: 100%;
	}

	.checkout-badges__ssl {
		height: 24px;
	}

	.checkout-badges__norton {
		height: 30px;
	}

	.checkout-badges__mcafee {
		height: 19px;
	}

	.checkout-badges__moneyback {
		height: 32px;
	}

	.checkout-badges__cc {
		height: 24px;
	}
}

