.doc-search{
	position: relative;
}

.doc-search:before{
	content: '';
	position: absolute;
	left: 23px;
	top: 20px;
	pointer-events: none;
	@extend .icon;
	@extend .icon-search;
	width: 17px;
	height: 17px;
	opacity: 0.4;
}

.doc-search input {
	padding: 16px 22px 16px 52px;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
}

.doc-search__results {
	margin-top: 4px;
	font-size: 16px;
	padding: 18px 24px;
	display: none;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 20px 40px -5px rgba(9,30,66, 0.25);
	position: absolute;
	width: 100%;
	z-index: 99;
}