.pricing-table {
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	transition: box-shadow 0.6s $easing;

	.icon-ok {
		width: 13px;
		height: 13px;
		background-image: url(../img/icons/checkmark--green.svg);
	}

	.icon-question-circle {
		cursor: help;
		opacity: 0.4;
		width: 14px;
		height: 14px;
	}

	.icon-cancel {
		width: 10px;
		height: 10px;
		background-image: url(../img/icons/cancel--red.svg);
	}

}

.pricing-table:not(.pricing-table--header):not(.pricing-table--last):hover {
	box-shadow: 0 20px 40px -5px rgba(9,30,66, 0.25);
	z-index: 99;
	position: relative;
}


.pricing-table > div {
	text-align: center;
	border-left: 1px solid #eeebf2;
	border-top: 1px solid #eeebf2;
	line-height: 1.5;
	height: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
	background: #fff;

	&:first-child {
		justify-content: space-between;
		text-align: left;
	}

	&:last-child {
		border-right: 1px solid #eeebf2;
	}
}

.pricing-table--header {
	align-items: flex-end;

	.edd_download_purchase_form {
		width: 100%;
	}
}

.pricing-table--header > div {
	height: auto;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 40px;

	&:first-child {
		border-left-color: transparent;
		border-top-color: transparent;
		background: transparent;
	}
}

.pricing-table--highlight > div {
	background: #F3EAD1 !important;
}

.pricing-table--last > div:first-child {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background:transparent;
	opacity: 0.5;
}

.pricing-table--last > div {
	padding-top:30px;
	padding-bottom:30px;
	height: auto;
	border-bottom: 1px solid #eeebf2;
	display: block;

	&:first-child {
		border-left-color: transparent;
		border-bottom-color: transparent;
	}

}

.pricing-table__title {
	margin-bottom: 30px;
}


.pricing-table__message {
	border-radius: 6px;
	padding: 0.5rem;
	background-color: #383c44;
	color: rgba(255,255,255,0.7);
	font-weight: 400;
	opacity: 0;

	.icon-right-open-big {
		filter: invert(100%);
	}

	&.in-viewport {
		animation-name: animation-4;
		animation-duration: 3s;
		//animation-direction: reverse;
		//animation-fill-mode: backwards;
	}
}

.pricing-table__button {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	width: 100%;
}

.pricing-table__price {
	font-size: rem(42px);
	display: block;
	color: $accent-color-1;
	line-height: 1;
	margin-left: -5px;

	sup {
		font-size: 50%;
		//vertical-align: middle;
		color: $headings-color;
	}

}

.pricing-table__label {
	color: darken( #ececec, 50% );
	background: darken( #ececec, 2% );
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 1;
	position: absolute;
	left: -2px;
	top: 0;
	height: 42px;
	line-height: 42px;
	width: calc( 100% + 2px );
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	transform: translateY(-100%);
	letter-spacing: 0.06em;

 	animation-name: animation-2;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-timing-function: $easing;
}

.pricing-table--header > :nth-child(3) {
	//position: relative;
	//background: #fff;
}

.pricing-table > :nth-child(3) {
	//background: #fff;
}

.pricing-table__initial-price {
	margin-bottom: 0px;
	font-size: rem(22px);
	font-weight: 600;
	display: block;
	color: #d9d9d9;
	line-height: 1;
	text-decoration: line-through;
	//text-decoration-color: red;
}

.pricing-table .pricing-table-inactive {
	* {
		opacity: 0.4;
		pointer-events: none;
	}
}

.pricing-table__description {
    font-size: rem(13px);
}

.pricing-table__extension-label {
    display: inline-block;
    line-height: 1;
    color: #fff;
    background-color: #3B88F7;
    padding: 3px 6px;
    font-size: 0.75rem;
    border-radius: 20px;
    vertical-align: text-top;
	margin-left: auto;
	margin-right: 10px;
}


.main-table .pricing-table > :first-child {
	width: 20%;
}

.main-table .pricing-table > :not(:first-child) {
	width: 20%;
}

@media screen and (max-width: 1000px) {
	.main-table {
		width: 100%;
		overflow-x: visible;
		overflow-y: none;
	}
}

 @media screen and (max-width: 1000px) {
	.main-table .pricing-table {
		min-width: 1000px;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-right: 15px;
	}
}


/*  lite vs pro table */

.lite-vs-pro-table > .row {
	justify-content: center;
}

.lite-vs-pro-table h3{
	margin-bottom: 3rem;
}

.lite-vs-pro-table h3 span{
	position: relative;
	z-index: 1;
}

.lite-vs-pro-table h3 span:before{
	content: '';
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 5px;
	position: absolute;
	background: $accent-color-2;
	z-index: -1;
	border-radius: 30px;
}

.lite-vs-pro-table .pricing-table > :nth-child(2) {
	background: #fff;
}

@include media-breakpoint-up(xl) {
	.pricing-table > div {
		padding-left: 30px;
		padding-right: 30px;
	}
}

 @media screen and (max-width: 1000px) {
	.lite-vs-pro-table {
		width: 100%;
		overflow-x: visible;
	}
}

@media screen and (max-width: 1000px) {
	.lite-vs-pro-table .pricing-table {
		min-width: 900px;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-right: 15px;
	}
}