/* .formkit-form[data-uid="6f03210fb1"] * {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	box-sizing: border-box;
} */
/* .formkit-form[data-uid="6f03210fb1"] legend {
	border: none;
	font-size: inherit;
	margin-bottom: 10px;
	padding: 0;
	position: relative;
	display: table;
}
.formkit-form[data-uid="6f03210fb1"] fieldset {
	border: 0;
	padding: 0.01em 0 0 0;
	margin: 0;
	min-width: 0;
}
.formkit-form[data-uid="6f03210fb1"] body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
} */
/* .formkit-form[data-uid="6f03210fb1"] p {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
} */
.formkit-form[data-uid="6f03210fb1"][data-format="modal"] {
	/* display: none; */
}
.formkit-form[data-uid="6f03210fb1"][data-format="slide in"] {
/* 	display: none; */
}
/* .formkit-form[data-uid="6f03210fb1"] .formkit-input,
.formkit-form[data-uid="6f03210fb1"] .formkit-select,
.formkit-form[data-uid="6f03210fb1"] .formkit-checkboxes {
	width: 100%;
} */
.formkit-form[data-uid="6f03210fb1"] .formkit-button,
.formkit-form[data-uid="6f03210fb1"] .formkit-submit {
/* 	border: 0;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 0;
	position: relative;
	vertical-align: middle; */
	margin: 0 auto;
	display: block;

}
/* .formkit-form[data-uid="6f03210fb1"] .formkit-button:hover,
.formkit-form[data-uid="6f03210fb1"] .formkit-submit:hover,
.formkit-form[data-uid="6f03210fb1"] .formkit-button:focus,
.formkit-form[data-uid="6f03210fb1"] .formkit-submit:focus {
	outline: none;
} */
/* .formkit-form[data-uid="6f03210fb1"] .formkit-button:hover > span,
.formkit-form[data-uid="6f03210fb1"] .formkit-submit:hover > span,
.formkit-form[data-uid="6f03210fb1"] .formkit-button:focus > span,
.formkit-form[data-uid="6f03210fb1"] .formkit-submit:focus > span {
	background-color: rgba(0, 0, 0, 0.1);
}
.formkit-form[data-uid="6f03210fb1"] .formkit-button > span,
.formkit-form[data-uid="6f03210fb1"] .formkit-submit > span {
	display: block;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	padding: 12px 24px;
} */
.formkit-form[data-uid="6f03210fb1"] .formkit-input {
	background: $light-gray;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-input:focus {
	border-color: $accent-color-2;
}
/*
.formkit-form[data-uid="6f03210fb1"] .formkit-input::-webkit-input-placeholder {
	color: #848585;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-input::-moz-placeholder {
	color: #848585;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-input:-ms-input-placeholder {
	color: #848585;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-input::placeholder {
	color: #848585;
} */
.formkit-form[data-uid="6f03210fb1"][data-group="dropdown"] {
/* 	position: relative;
	display: inline-block;
	width: 100%; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="dropdown"]::before {
/* 	content: "";
	top: calc(50% - 2.5px);
	right: 10px;
	position: absolute;
	pointer-events: none;
	border-color: #333333 transparent transparent transparent;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	height: 0;
	width: 0; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="dropdown"] select {
/* 	height: auto;
	width: 100%;
	cursor: pointer;
	color: #333333;
	line-height: 1.4;
	margin-bottom: 0;
	padding: 0 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 15px;
	padding: 12px;
	padding-right: 25px;
	border: 1px solid #e3e3e3;
	background: #ffffff; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="dropdown"] select:focus {
	/* outline: none; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"] {
/* 	text-align: left;
	margin: 0; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] {
	margin-bottom: 10px;
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] * {
	cursor: pointer;
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"]:last-of-type {
	margin-bottom: 0;
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] input[type="checkbox"] {
	display: none;
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] input[type="checkbox"] + label::after {
	content: none;
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] input[type="checkbox"]:checked + label::after {
	border-color: #ffffff;
	content: "";
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] input[type="checkbox"]:checked + label::before {
	background: #10bf7a;
	border-color: #10bf7a;
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] label {
/* 	position: relative;
	display: inline-block;
	padding-left: 28px; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] label::before,
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] label::after {
	/* position: absolute;
	content: "";
	display: inline-block; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] label::before {
	/* height: 16px;
	width: 16px;
	border: 1px solid #e3e3e3;
	background: #ffffff;
	left: 0px;
	top: 3px; */
}
.formkit-form[data-uid="6f03210fb1"][data-group="checkboxes"][data-group="checkbox"] label::after {
/* 	height: 4px;
	width: 8px;
	border-left: 2px solid #4d4d4d;
	border-bottom: 2px solid #4d4d4d;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 4px;
	top: 8px; */
}
.formkit-form[data-uid="6f03210fb1"] .formkit-alert {
	background: #f9fafb;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	list-style: none;
	margin: 25px auto;
	padding: 12px;
	text-align: center;
	width: 100%;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-alert:empty {
	display: none;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-alert-success {
	background: #d3fbeb;
	border-color: #10bf7a;
	color: #0c905c;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-alert-error {
	background: #fde8e2;
	border-color: #f2643b;
	color: #ea4110;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-spinner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 0px;
	width: 0px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 0px;
	overflow: hidden;
	text-align: center;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-spinner > div {
	margin: auto;
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 0.3;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: formkit-bouncedelay-formkit-form-data-uid-6f03210fb1- 1.4s infinite ease-in-out both;
	animation: formkit-bouncedelay-formkit-form-data-uid-6f03210fb1- 1.4s infinite ease-in-out both;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-spinner > div:nth-child(1) {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-spinner > div:nth-child(2) {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-submit[data-active] .formkit-spinner {
	opacity: 1;
	height: 100%;
	width: 50px;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-submit[data-active] .formkit-spinner ~ span {
	opacity: 0;
}
@-webkit-keyframes formkit-bouncedelay-formkit-form-data-uid-6f03210fb1- {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes formkit-bouncedelay-formkit-form-data-uid-6f03210fb1- {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}


.formkit-form[data-uid="6f03210fb1"] {
	//border: 1px solid #e3e3e3;
	//max-width: 700px;
/* 	background: url(../images/subscribe.jpg) no-repeat 50% 50%;
	background-size: cover; */
	position: relative;
	margin-bottom: 1rem;
	box-shadow: 0 1px 1px 0 rgba(9,30,65,.14);
	border-radius: 8px;
	background: #fff;
}

.formkit-form[data-uid="6f03210fb1"] .formkit-form__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #27be92;
	background: linear-gradient(45deg, #27be92 0%,#815fbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27be92', endColorstr='#815fbf',GradientType=1 );
	border-radius: 6px;
	opacity: 0.3;
}
.formkit-form[data-uid="6f03210fb1"] > div {
	max-width: 600px;
	margin: 0 auto;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-header {
	//color: #fff;
	position: relative;
	font-weight: 600;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-subheader {
	//color: rgba(255,255,255,0.7);
    position: relative;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-guarantee {
/* 	font-size: 13px;
	margin: 10px 0 15px 0;
	text-align: center; */
}
/* .formkit-form[data-uid="6f03210fb1"] .formkit-guarantee > p {
	margin: 0;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-powered-by {
	color: #7d7d7d;
	display: block;
	font-size: 12px;
	margin: 10px 0 0 0;
	text-align: center;
} */
/* .formkit-form[data-uid="6f03210fb1"] .formkit-powered-by[data-active="false"] {
	opacity: 0.5;
} */
.formkit-form[data-uid="6f03210fb1"] .formkit-fields {
/* 	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 25px auto 0 auto; */
	position: relative;
}
/*
.formkit-form[data-uid="6f03210fb1"] .formkit-field {
	min-width: 220px;
}
.formkit-form[data-uid="6f03210fb1"] .formkit-field,
.formkit-form[data-uid="6f03210fb1"] .formkit-submit {
	margin: 0 0 15px 0;
	-webkit-flex: 1 0 100%;
	-ms-flex: 1 0 100%;
	flex: 1 0 100%;
}
.formkit-form[data-uid="6f03210fb1"][min-width~="600"][data-style="minimal"] {
	padding: 40px;
}
.formkit-form[data-uid="6f03210fb1"][min-width~="600"] .formkit-fields[data-stacked="false"] {
	margin-left: -5px;
	margin-right: -5px;
}
.formkit-form[data-uid="6f03210fb1"][min-width~="600"] .formkit-fields[data-stacked="false"] .formkit-field,
.formkit-form[data-uid="6f03210fb1"][min-width~="600"] .formkit-fields[data-stacked="false"] .formkit-submit {
	margin: 0 5px 15px 5px;
}
*/
.formkit-form[data-uid="6f03210fb1"][min-width~="500"] input[name="email_address"] {
	/* width: calc(100% - 140px); */
}

.formkit-form[data-uid="6f03210fb1"][min-width~="500"] .formkit-submit {
/* 	position: absolute;
	right: 0;
	top: 0; */
}
/* .formkit-form[data-uid="6f03210fb1"][min-width~="600"] .formkit-fields[data-stacked="false"] .formkit-submit {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}  */
.grecaptcha-badge {
	display: none !important;
}