.latest-post-section {
	background: #fff;
	//background: lighten(#FBC556, 20%);
	font-size: rem(16px);
	color: $headings-color;

	a {
		//color: $accent-color-1;
		text-decoration: none;
	}

	i {
		//transform: scaleX(-1);
		//background: red;
	}
}