.title-single-section {
	//padding-top: 90px;
}

.title-single__title {
	padding: 50px 0;
}

.title-single__thumbnail {
	width: 100%;
	height: 0px;
	padding-bottom: 40%;
	position: relative;
}

.title-single__thumbnail img {
	border-radius: 8px;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title-single__cats {
	margin-bottom: rem(24px);
	margin-bottom: 30px;
	font-weight: 600;

	a {
		background-color: $accent-color-1;
		color: #fff;
		margin: 0 4px;
		padding: 0px rem(8px);
		border-radius: 4px;
	}

	a:first-child {
		margin-left: 0;
	}

	a:last-child {
		margin-right: 0;
	}
}


.title-single__meta {
	border-bottom: 1px solid #e8e8e8;
	padding: 20px 0;
	font-weight: 600;
	color: $headings-color;
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
	align-items: flex-start;

	> *:not(:last-child) {
		padding-right: 40px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.title-single__author img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	display: none;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
}

.title-single__author img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	display: none;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
}

.title-single__author a {
	text-decoration: underline;
}

@include media-breakpoint-up(xs) {

	.title-single__author img {
		display: inline;
	}


}


@include media-breakpoint-up(sm) {



}