.widget_search {

	.searchform {
		position: relative;
		max-width: 400px;
	}

	input[type="text"] {
		padding: 12px 20px;
		width: calc( 100% - 110px );
	}

	input[type="submit"] {
	 	position: absolute;
		top: 0px;
		right: 0px;
		@extend .button--small;
		//padding: 10px 25px;
		margin: 0;
		//min-width: initial;
	}

}
