.has-primary-color {
	color: $accent-color-1;
}

.has-primary-color-bg {
    background-color: $accent-color-1;
}

.has-secondary-color {
	color: $accent-color-2;
}

.has-secondary-color-bg {
    background-color: $accent-color-2;
}