html {
	font-size: 100%;
}

@include media-breakpoint-up(sm) {
	html {
		font-size: 105%;
	}
}

@include media-breakpoint-up(md) {
	html {
		font-size: 110%;
	}
}

@include media-breakpoint-up(lg) {
	html {
		font-size: 115%;
	}
}


